.btn {
    height: 40px;
    width: 80px;
    border: solid 1px black;
    margin: 10px;
}


.btn-selected {
    height: 40px;
    width: 80px;
    border: solid 1px black;
    margin: 10px;
    background-color: rgb(199, 244, 229);

}