.top-banner {
    color: white;
    text-align: center;
    background-color: rgb(209, 52, 223);
    font-size: 14px;
    padding: 4px;
}

.outer-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid gray;
    padding: 4px 20px 4px 20px;

    a {
        color: rgb(101, 101, 101);
        text-decoration: none;
    }
}









.nav {
    background-color: white;
    box-shadow: 0 4px 6px rgb(202, 200, 200);
    padding: 4px 24px 4px 24px;

}



.nav-s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white;

}


.logo-name {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    font-size: 24px;
}



.search {

    padding: 8px;
    font-size: 14px;
    border: 1px solid rgb(219, 216, 216);


    @media (min-width: 768px) {
        display: block;
    }

    display: none;
}


.icons {
    display: flex;
    gap: 16px;
}

.nav-s1-box2 {
    display: flex;
    align-items: center;
    gap: 4px;
}



.nav-s2 {
    display: flex;
    padding: 8px;
    background-color: white;

    a {
        color: rgb(101, 101, 101);
        text-decoration: none;
    }

}

.nav-s2-box1 {
    display: flex;
    align-items: center;
    gap: 24px;
}