.signup-page-div {
    padding: 8px;
    width: 90%;
    max-width: 450px;
    margin: 20px auto;

    .vison {
        height: 250px;
        width: 100%;
        background-image: url("/{5}.jpg");
        background-size: cover;
        background-position: center;

        .vision-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 50px;
            padding: 10px;
        }

        h6 {
            text-align: center;
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            font-family: cursive;
            color: white;
        }
    }

    h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        padding: 8px;
        color: rgb(171, 171, 172);
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;

        .num-box {
            margin-left: 10px;
            margin-top: 10px;
        }
    }

    .lab {
        color: rgb(101, 101, 101);
    }

    .num {
        height: 40px;
        width: 100%;
        margin-top: 6px;
    }

    .checkbox {
        display: flex;
        gap: 10px;
        padding: 15px 0;
        font-size: 12px;
        margin-left: 10px;
        flex-wrap: wrap;


        span {
            color: rgb(234, 180, 54);
            font-weight: 600;
        }
    }

    .btn-otp {
        padding: 10px;
        width: 100%;

        max-width: 250px;
        margin: 10px auto;
        background-color: rgb(219, 220, 222);
        text-align: center;
        border-radius: 5px;
    }
}


@media screen and (max-width: 1024px) {
    .signup-page-div {
        width: 70%;
    }

    .vison {
        height: 280px;
    }

    h1 {
        font-size: 40px;
    }
}


@media screen and (max-width: 599px) {
    .signup-page-div {
        width: 90%;
        padding: 10px;
    }

    .vison {
        height: 200px;
    }

    h1 {
        font-size: 28px;
    }

    .btn-otp {
        width: 100%;
    }
}